<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>241557995838-br905654o9ilfd3i9i5tdbqoviif7803.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.241557995838-br905654o9ilfd3i9i5tdbqoviif7803</string>
	<key>API_KEY</key>
	<string>AIzaSyA18K-ThYTz45QPvNlj8nzSkZq3n5yNayA</string>
	<key>GCM_SENDER_ID</key>
	<string>241557995838</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.httpSampleFire.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>exemplo-sl-5ee98</string>
	<key>STORAGE_BUCKET</key>
	<string>exemplo-sl-5ee98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241557995838:ios:1ec00823edf38e6d266c6f</string>
</dict>
</plist>